<%= content_for :title, "Recipes" %>

<main class='main'>
  <div class='header'>
    <h1>Recipes by <%= current_user.name %></h1>
    <div class='actions'>
     <form action="<%= new_food_path %>" method="get">
  <input type="submit" value="Add New Food" class="custom-button">
</form>
  </div>

  <ul class='recipes'>
    <% if @recipes.empty? %>
      <li class='no-recipes'>You have no recipes yet!</li>
    <% else %>
      <% @recipes.each do |recipe| %>
        <li class='recipess'>
          <div class='left'>
            <h2><%= link_to recipe.name, recipe %></h2>
            <div class='actions'>
              <%= link_to 'REMOVE', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>

          <div class='right'>
            <p class='description'><%= recipe.description %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</main