<%= content_for :title, "Shopping List" %>

<main class='main'>
  <div class='container'>
    <h1>Shopping List</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.quantity %> <%= food.measurement_unit %></td>
            <td><%= food.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>Amount of food items to buy: <%= @foods.length %></p>
    <p>Total cost: $<%= @total %></p>

    <%= link_to 'Back to Recipes', recipes_path %>
  </div>
</main>
