<%= content_for :title, "Public Recipes" %>

<h1>List of Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <h2><%= link_to recipe.name, recipe_path(recipe) %></h2> 
    <p>Created by: <%= recipe.author.name %></p>
   <ul class="public_list">
    <li>Total Food Items: <%= recipe.foods.count %></li>
    <li>Total Price: $<%= recipe.foods.sum(:price) %></li>
</ul>
  </div>
<% end %>
