<%= content_for :title, "Public Recipes" %>

<h1>List of Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div>
    <h2><%= recipe.title %></h2> <%= link_to recipe.title, recipe_path(recipe) %>
    <p>Created by: <%= recipe.user.name %></p>
    <p>Total Food Items: <%= recipe.foods.count %></p>
    <p>Total Price: $<%= recipe.foods.sum(:price) %></p>
  </div>
<% end %>
