<%= content_for :title, 'Food items' %>

<main class='main food'>
  <div class='container'>
    <div class='header'>
      <h1>Food List</h1>
      <form action="<%= new_food_path %>" method="get">
        <input type="submit" value="Add New Food" class="btn btn-cta">
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Measurement_unit</th>
          <th>Unit_price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= number_to_currency(food.price, unit: "$") %></td>
            <td>
              <%= button_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete' %>        </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
