<h1>Add New Food</h1>

<%= form_with(model: @food, url: foods_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <%= form.submit 'Add Food' %>
<% end %>
