<%= content_for :title, "New Recipe Ingredient" %>

<main>
  <%= form_with model: [@recipe, @recipe_food], url: recipe_recipe_foods_path(@recipe), method: :post do |f| %>
    <div class="field">
      <%= f.label :food_id, 'Food' %>
      <%= f.collection_select :food_id, Food.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>

    <%= f.submit 'Add Ingredient', class: 'btn btn-primary' %>
  <% end %>
</main>