<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
<<<<<<< HEAD
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
=======
<nav class="navigation">
  <ul>
    <li><%= link_to 'Foods', foods_path %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
    <li><%= link_to 'Public Recipes', public_recipes_recipes_path %></li>
  </ul>
</nav>

>>>>>>> dev
    <%= yield %>
  </body>
</html>
